body{
    margin:0;
    text-align: center;
}
h1{
    margin: 0px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.265rem;
    color: #66bfbf;
    line-height: 2;
}

h2{
    font-size: 2.5rem;
    font-weight: normal;
    color: #66bfbf;
}

h3{
    color: #11999e ;
}

a{
    color: #11999e
}

.perfil{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 80%;
}

.top-container{
    margin:0;
    background-color: #c3eaf4;
    padding: 6.25rem 0 0 0;
}
.top-cloud{
    position: absolute;
    top: 3.125rem;
    right:23.75rem;
}
.bot-cloud{
    position: absolute;
    left: 23.75rem;
}

.middle-container{
    background-color: #d0d0d0;
    
}

.bottom-container{
    background-color: blueviolet;
}